header
{
	height: 45px;
	width: 98%;
	background-color:#f9f9f9;
	border: 1px solid #ececec;
	padding:1%;
	box-shadow: 0 3px 3px #ccc;
	position:fixed;
	margin-top:-0.6%;
	margin-left:-0.5%;
	padding:1%;
}


body
{
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	
	
}
section#logo
{
	
	width:15%;
	height:55px;
	display:inline;
	
	
}
section#logo
{
	
	width:15%;
	height:45px;
	
	float:left;
}
section#menu
{
	
	width:43%;
	height:45px;
	float:right;
}
	

section#movingimage
{
	width:100%;
	height:300px;
	border-bottom: 1px solid #ececec;
	margin:auto;
}
section#text
{
	width:100%;
	height:100px;
	
	margin:auto;
	background-color:#f9f9f9;
	border: 1px solid #ececec;
	

}

	
h1
{
	font-family: Droid Sans,sans-serif;
	color:#f58143;
	
}
h2
{
	font-family: arial, Arial, Helvetica, sans-serif;
	color:#f58143;
	
}
h4
{
	font-family: arial, Arial, Helvetica, sans-serif;
	color:#092f40;
	
}
p#first
{
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	alignment-adjust:central;
}

p
{
	text-align:center;
	text-justify:auto;
	
	font-size:14px;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

section#fourcontainers
{

	width:100%;
	height:360px;
	margin:auto;
	background-color: #f2f2f2;
	box-shadow: 0 0 5px #ccc;
	clear:both;
	
}
section#fourcontainsadjust
{

	width:80%;
	height:360px;
	margin:auto;
	padding:1%;
	clear:both;
	
}
section#firstcontain
{
	
	width:20%;
	height:340px;
	float:left;
	margin-left:3%;
	
	background-color: #f2f2f2;
		
	overflow:auto;
}

section#secondcontain
{
	
	width:20%;
	height:340px;
	float:left;
	margin:auto;
	margin-left:5%;
	margin-right:5%;
	
	background-color: #f2f2f2;
	
	overflow:auto;

}


section#thirdcontain
{
	
	width:20%;
	height:340px;
	float:left;
	
	background-color:#f2f2f2;
	
	margin-right:5%;
	overflow:auto;
	
	
}


section#fourthcontain
{
	
	width:20%;
	height:340px;
	float:left;
	
	background-color:#f2f2f2;
	
	overflow:auto;
	
}
section#decoration
{
	height: 8px;
	width: 100%;
	background: url(images/stripes.png);
	margin-top: 0px;
	
}
section#sponsers
{
	height: 100px;
	width: 100%;
	margin-bottom: -0.5%;
	background-color: #f8f8f8;
	border: 1px solid #e2e2e2;
	
	
}


/*This is the start of  the whole footer part*/
footer
{
	width:97%;
	height:55px;
	background-color:#092f40;
	margin:auto;
	padding:2%;
	clear:both;
	margin-left:-0.6%;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	
}


section#footerleft
{
	width:20%;
	height:80px;
	float:left;
	background-color:#092f40;
	
}

section#footermid
{
	width:59%;
	height:80px;
	float:left;
	background-color:#092f40;
	color:white;
	
}
section#footerright
{
	width:20%;
	height:48px;
	float:right;
	background-color:#092f40;
}


	


section#social-slide, #social-slide1,#social-slide2
{
	
	
	height: 48px;
	width: 48px;

	float: right;
	
	/*  -transition: property_name duration timing_function delay;   */
	/* ease − equivalent to cubic-bezier(0.25, 0.1, 0.25, 1.0). */
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
#social-slide:hover, #social-slide1:hover ,#social-slide2:hover  
{
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
section#social-slide
{
	background-image:url(../images/icons/facebook.png);
	float:
}
section#social-slide1
{
	background-image:url(../images/icons/twitter.png);
}
section#social-slide2
{
	background-image:url(../images/icons/google.png);
}



/*This is  the end of the whole footer part*/

